/* !============ TOP GO BTN ============ */
.circle {
    position: fixed;
    cursor: pointer;
    left: 1440px;
    top: 600px;
    width: 60px;
    height: 60px;
    background-color: var(--blue--7k--);
    border-radius: 50%;
    animation: gohome;
    animation-duration: 2s;
    img{
        position: absolute;
        display: flex;
        width: 30px;
        color: white;
        left: 15px;
        top: 13px;
    }
  }

@keyframes gohome{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}