:root {
    --black-color--: #000;
    --grey-color--: #8B8E99;
    --blue--7k--: #7000FF;
}

*{
    text-decoration: none;
    outline: none;
}

body{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

/* !+++++++++ HEADER CSS ++++++++ */
/* ! ============= GREY BAR ============ */
.top-header {
    align-items: stretch;
    background-color: #f2f4f7;
    display: flex;
    font-family: Inter, sans-serif;
    justify-content: stretch;
    min-height: 32px;
    width: 100%;
}

.top-loc {
    align-items: center;
    color: #f2f4f7;
    display: flex;
    flex-grow: 1;
    /* user-select: none; */
}

.ico-location {
    margin-left: 140px;
    width: 24px;
    height: 24px;
}

.gorod {
    color: var(--black-color--);
    margin-left: 10px;
    font-size: 15px;
}

.tashkent-location {
    border-bottom: 1px solid;
    cursor: pointer;
}

.punkt {
    margin-left: 19px;
    color: var(--black-color--);
    font-size: 15px;
}

.dostavka {
    /* color: #8B8E99; */
    color: var(--grey-color--);
    font-size: 14px;
    font-family: Inter,sans-serif;
    margin-left: 155px;
}

.link-s a{
    text-decoration: none;
    color: #595B66;
    position: relative;
    left: 160px;
    top: 15px;
    font-size: 14px;
    margin: 10px;
}

.select-language-site {
    position: relative;
    width: 77px;
    margin-left: 406px;
    /* margin-top: -30px; */
    top: -14px;
    color: #1F2026;
    font-size: 14px;
    font-family: Inter, sans-serif;
    height: 40px;
    border: none;
    background-color: #f2f4f7;
    outline: none;
}

.img-language {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 13px;
    left: 1270px;
}

/* ! ============= END GREY BAR ============ */



/* ! ============ INPUT  BAR ============ */
.logo {
    width: 250px;
    margin-left: 125px;
    position: relative;
    z-index: -1;
    margin-top: -90px;
}

.btn-1 {
    width: 120px;
    height: 50px;
    position: relative;
    top: -118px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #F0F0FF;
    color: #7000FF;
    font-size: 17px;
}

.btn-1:hover{
    background-color: #a7a1ff;
    transition: 0.7s;
}

.inp{
    width: 504px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: grey 1px solid;
    position: relative;
    top: -120px;
    left: 20px;
    font-size: 17px;
}

.btn-2 {
    width: 75px;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 957px;
    border-radius: 5px;
    border: none;
}

.btn-in-img {
    width: 30px;
    height: 30px;
}

.btn_login {
    position: absolute;
    left: 1078px;
    width: 90px;
    height: 42px;
    border: none;
    top: 70px;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 6px;
}

.btn_login:hover{
    background-color: #e6e8ed;;
}

.wishlist{
    width: 90px;
    height: 42px;
    position: absolute;
    top: 70px;
    left: 1300px;
    border: none;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
}

.wishlist:hover{
    background-color: #e6e8ed;
}

.user_ico {
    position: absolute;
    width: 28px;
    left: 1050px;
    top: 76px;
}


/* .btn-4 {
    width: 124px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 1200px;
    position: relative;
    top: -160px;
    left: 0px;
    z-index: -1;
} */

.izvrashenie-ico {
    width: 30px;
    height: 30px;
    margin-left: 1220px;
    position: relative;
    top: -159px;
    left: -50px;
}

.btn_saved {
    /* text-decoration: none;
    position: relative;
    top: -172px;
    left: 40px;
    color: black; */
    position: absolute;
    left: 1210px;
    top: 70px;
    width: 90px;
    height: 42px;
    border: none;
    background-color: white;
    font-size: 15px;
    border-radius: 6px;
}

.btn_saved:hover{
    background-color: #e6e8ed;;
}

.rasrochka__ico {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 140px;
    left: 138px;
}

.rasrochka__text {
    color: #333;
    /* font-size: 12px; */
    font-family: Inter, sans-serif;
    position: absolute;
    top: 131px;
    cursor: pointer;
    left: 178px;
}

.sale__home {
    position: relative;
    width: 30px;
    height: 30px;
    top: -130px;
    left: 300px;
}

.sale__text {
    margin-top: -158px;
    margin-left: 349px;
    cursor: pointer;
}

.zimniy__ico {
    position: relative;
    width: 30px;
    height: 30px;
    left: 530px;
    top: -38px;
}

.zimniy__clothes {
    margin-top: -69px;
    cursor: pointer;
    margin-left: 580px;
}

.a__herfs a{
    position: relative;
    left: 740px;
    top: -33px;
    text-decoration: none;
    color: grey;
    margin: 35px;
    margin-top: -30px;
}

.go__toA {
    border: none;
    outline: none;
    margin-left: 1320px;
    margin-top: -50px;
    display: flex;
}
/* ! ========= header css and ========= */


.go_home{
    margin-top: 100px;
    width: 107px;
    height: 38px;
    border: none;
    margin-left: 730px;
    background-color: #7000FF;
    color: white; 
    border-radius: 7px;
    cursor: pointer;
}